/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        LEFT_HOM: LEFT_HOM {
            compatible = "zmk,behavior-mod-morph";
            label = "LEFT_HOM";
            bindings = <&kp LEFT_ARROW>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        RIGHT_END: RIGHT_END {
            compatible = "zmk,behavior-mod-morph";
            label = "RIGHT_END";
            bindings = <&kp RIGHT>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        UP_PGUP: UP_PGUP {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_PGUP";
            bindings = <&kp UP_ARROW>, <&kp PAGE_UP>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        DOWN_PGDWN: DOWN_PGDWN {
            compatible = "zmk,behavior-mod-morph";
            label = "DOWN_PGDWN";
            bindings = <&kp DOWN>, <&kp PAGE_DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Home {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "HOM";
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3    &kp N4        &kp N5                         &kp N6  &kp N7                &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB           &kp Q   &kp W   &kp E     &kp R         &kp T                          &kp Y   &kp U                 &kp I      &kp O    &kp P     &kp EQUAL
&kp LSHIFT        &kp A   &kp S   &kp D     &kp F         &kp G                          &kp H   &kp J                 &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C     &kp V         &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M                 &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                  &kp LGUI  &kp LEFT_ALT  &mo 1   &kp SPACE    &kp RET   &mo 1   &mt DELETE BACKSPACE  &kp GRAVE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Symbols {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "SYM";
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7         &kp F8                &kp F9         &kp F10  &kp F11
&trans  &none   &none   &none   &none   &none                     &none   &none          &mt PAGE_UP UP_ARROW  &none          &none    &kp F12
&trans  &none   &none   &none   &none   &none                     &none   &mt HOME LEFT  &mt PAGE_DOWN DOWN    &mt END RIGHT  &none    &none
&trans  &none   &none   &none   &none   &none   &none     &none   &none   &none          &none                 &none          &none    &none
                        &trans  &trans  &trans  &trans    &trans  &trans  &bt BT_CLR     &bt BT_NXT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        NAV_TO_HOM {
            if-layers = <2>;
            then-layer = <0>;
        };
    };
};
